:root {
  --primary-color: rgb(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --background-color: #fff;
}
.container {
  padding-inline: 10vw;
}
.main {
  padding-block: 3vw;
}
a {
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: var(--background-light);
}
.for-profile {
  min-height: 100vh;
}
.img-contain {
  width: 100%;
}
.img-ssd {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/*====================== Sidebar ============================*/
/*======================= media query ============================ */
@media (max-width: 480px) {
  .container {
    padding-inline: 3vw;
  }
}
@media (max-width: 768px) {
  .container {
    padding-inline: 6vw;
  }
  .navbar {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  .sidebar-btn {
    display: block;
  }
  .sidebar {
    height: 100vh;
  }
  .section {
    flex-wrap: wrap;
  }
  .section .col {
    width: 100%;
    padding: 0 !important;
    text-align: center;
    margin-bottom: 2em;
  }
  .space .title {
    font-size: 40px;
  }
  .skill-item {
    display: inline-block;
    margin: 0.75em;
  }
  .space .btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-section:nth-child(1) {
    grid-column: span 4;
  }
  .footer-section:nth-child(2),
  .footer-section:nth-child(3) {
    grid-column: span 2;
  }
}
